node_modules
.next
out
build
dist
.git
.gitignore
.dockerignore
LICENSE
README.md
Dockerfile
docker-compose.yml
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.md
coverage